In [39]:
import pandas as pd
data = pd.read_csv("Sample - Superstore.csv",encoding="cp1252")

In [40]:
data.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,06/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [41]:
data.tail(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9984,9985,CA-2015-100251,5/17/2015,5/23/2015,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.500,10,0.0,15.1200
9985,9986,CA-2015-100251,5/17/2015,5/23/2015,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.600,4,0.0,16.1240
9986,9987,CA-2016-125794,9/29/2016,10/03/2016,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,...,90008,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.240,1,0.0,15.2208
9987,9988,CA-2017-163629,11/17/2017,11/21/2017,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1,0.0,28.7964
9988,9989,CA-2017-163629,11/17/2017,11/21/2017,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5,0.0,55.6470
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2/26/2017,03/03/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2/26/2017,03/03/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2/26/2017,03/03/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,05/04/2017,05/09/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4042 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         4042 non-null   int64
 1   Order ID       4042 non-null   object
 2   Order Date     4042 non-null   object
 3   Ship Date      4042 non-null   object
 4   Ship Mode      4042 non-null   object
 5   Customer ID    4042 non-null   object
 6   Customer Name  4042 non-null   object
 7   Segment        4042 non-null   object
 8   Country        4042 non-null   object
 9   City           4042 non-null   object
 10  State          4042 non-null   object
 11  Postal Code    4042 non-null   int64
 12  Region         4042 non-null   object
 13  Product ID     4042 non-null   object
 14  Category       4042 non-null   object
 15  Sub-Category   4042 non-null   object
 16  Product Name   4042 non-null   object
 17  Sales          4042 non-null   float64
 18  Quantity       4042 non-null   int64
 19  Discount       4042 non-null   float64
 20  Profit         4042 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 694.7+ KB

**drop unnecessary column`**

In [42]:
data.drop(columns=["Postal Code"])

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,06/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2/26/2017,03/03/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2/26/2017,03/03/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2/26/2017,03/03/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,05/04/2017,05/09/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

**Convert Order Date to datetime**

In [43]:
# Convert while allowing for format variations
data['Order Date'] = pd.to_datetime(data['Order Date'], errors='coerce', dayfirst=True)
data['Order Date'] = data['Order Date'].dt.strftime('%d/%m/%Y')

In [45]:
data["Order Date"]

0       11/08/2016
1       11/08/2016
2       06/12/2016
3       10/11/2015
4       10/11/2015
           ...
9989           NaN
9990           NaN
9991           NaN
9992           NaN
9993    05/04/2017
Name: Order Date, Length: 9994, dtype: object

**Check and remove null values if needed**

In [50]:
data.isnull().sum()

Row ID              0
Order ID            0
Order Date       5952
Ship Date           0
Ship Mode           0
Customer ID         0
Customer Name       0
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Product ID          0
Category            0
Sub-Category        0
Product Name        0
Sales               0
Quantity            0
Discount            0
Profit              0
dtype: int64

In [54]:
data = data.dropna()
data.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

**Add columns for Month, Day, Year**

In [70]:
#Convert Order Date to datetime
data["Order Date"] = pd.to_datetime(data["Order Date"])

#Extract Month, Day, Year
data["Month"] = data["Order Date"].dt.month
data["Day"] = data["Order Date"].dt.day
data["Year"] = data["Order Date"].dt.year

print(data[["Month","Day" ,"Year"]].head(5))
print()
print(data[["Month","Day" ,"Year"]].tail(5))

   Month  Day  Year
0     11    8  2016
1     11    8  2016
2      6   12  2016
3     10   11  2015
4     10   11  2015

      Month  Day  Year
9978     12    6  2016
9979     12    6  2016
9980      9    6  2015
9981      8    3  2017
9993      5    4  2017

**Create a Total_Sale column**

In [75]:
data["Total_sale"] = data["Sales"] - data["Sales"] * data["Discount"]
data[["Sales" , "Discount" , "Total_sale"]].head()

      Sales  Discount  Total_sale
0  261.9600      0.00  261.960000
1  731.9400      0.00  731.940000
2   14.6200      0.00   14.620000
3  957.5775      0.45  526.667625
4   22.3680      0.20   17.894400

**Analysis**

**1 Top 5 products by sales**

In [79]:
data.groupby("Product Name")["Sales"].sum().sort_values(ascending=False).head(5)

Product Name
Canon imageCLASS 2200 Advanced Copier                            17499.9500
Lexmark MX611dhe Monochrome Laser Printer                        11219.9340
HP Designjet T520 Inkjet Large Format Printer - 24" Color         8749.9500
GBC DocuBind TL300 Electric Binding System                        8521.4050
Riverside Palais Royal Lawyers Bookcase, Royale Cherry Finish     8298.8316
Name: Sales, dtype: float64

**2. Most profitable cities**

In [80]:
data.groupby("City")["Profit"].sum().sort_values(ascending=False).head(5)

City
New York City    26214.8443
Los Angeles      12456.9579
Lafayette         8915.0163
Seattle           7921.1530
San Francisco     7390.7013
Name: Profit, dtype: float64

**3. Monthly Sales**

In [81]:
data.groupby("Month")["Sales"].sum()

Month
1      29365.8146
2      32169.0160
3      57260.7674
4      58893.2035
5      53129.0038
6      61142.0400
7      48621.8990
8      50657.6457
9     125243.0076
10     78960.4915
11    150382.5500
12    142091.8725
Name: Sales, dtype: float64

**4. Average discount given**

In [82]:
data["Discount"].mean()

np.float64(0.15597723899059873)

In [83]:
!pip freeze > requirements.txt